<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="SERVICE_VERSION" source="info.application.version" defaultValue="unknown"/>
    <springProperty scope="context" name="CONSOLE_LOG_FORMAT" source="logging.format" defaultValue="PLAIN"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <appender name="CONSOLE-PLAIN" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE-JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContext>false</includeContext>
            <customFields>{"serviceVersion":"${SERVICE_VERSION}"}</customFields>
        </encoder>
    </appender>

    <appender name="OTEL-APPENDER" class="io.opentelemetry.instrumentation.logback.mdc.v1_0.OpenTelemetryAppender">
        <appender-ref ref="CONSOLE-${CONSOLE_LOG_FORMAT}"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="OTEL-APPENDER"/>
    </root>

</configuration>